 {% extends "super_layout.html.twig" %}   
    {% block menu %}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('infos') }}">Informations</a>
                        </li>
                    </ul> 
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> Options
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:chooseStyle('snow', 60)">Thème neige</a></li>
                                <li><a href="javascript:chooseStyle('desert', 60)">Thème désert</a></li>
                                <li><a href="javascript:chooseStyle('dark', 60)">Thème sombre</a></li>
                                <li><a href="javascript:chooseStyle('dark_snow', 60)">Thème neige sombre</a></li>
                                <li><a href="javascript:chooseStyle('dark_desert', 60)">Thème désert sombre</a></li>
                            </ul>    
                        </li>
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>
    {% endblock %}            
           